form{
	margin-top:60px;
	margin-left:450px;
	height:200px;
	width:300px;
	border-style:double;
	padding:30px;
}
div{
	margin-top:20px;
}
h3{
	margin-top:100px;
	margin-left:520px;
}
td,th{
	padding:5px;
}
th{
	background-color:blue;
	color:white;
}
table{
	margin-left:400px;
}